<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayPal with Node.js</title>
</head>

<body>
    <h1>Node.js Complete Course</h1>
    <h2>Price: $100.00</h2>
    <form action="/pay" method="post">
        <input type="submit" value="Buy">
    </form>
</body>

</html>


<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayPal with Node.js</title>
</head>

<body>
    <h1>Node.js Complete Course</h1>
    <h2>Price: $100.00</h2>
    <form action="/pay" method="POST">
        <input name="currency" value="USD">
        <input name="quantity" value="1">
        <input name="price" value="100">
        <input name="name" value="Node.js Complete Course">
        <input type="submit" value="Buy Now">
    </form>
</body>

</html>  -->